## Lists

Create a list, called "Numbers". Let it contain the numbers 10, 25, 40, and 50.

Print the element at index 2 from the list.

Print the 0th element.

Print the third-to-last element using a minus sign in the brackets.

Substitute the number 10 with the number 15.

Delete the number 25 from the Numbers list.

## Help Yourself with Methods

Append the number 100 to the Numbers list.

In [ ]:
Numbers = [15, 40, 50]

With the help of the "extend method", add the numbers 115 an 140 to the list.

Print a statement, saying "The fourth element of the Numbers list is:" and then designate the value of the fourth element. Use a trailing comma.

How many elements are there in the Numbers list?

## List Slicing

In [ ]:
Numbers = [15, 40, 50, 100, 115, 140]

Using list slicing, obtain the numbers 100 and 115.

Using slicing, extract the first four elements from the list.

Using slicing, extract all the elements from the list from the 3rd position onwards.

Using slicing, extract the last 4 elements from the list.

Which is the position of the value 15?

Create a list, called "Two_Numbers". Let its elements be the values 1 and 2. Then, create a new one, named "All_Numbers", that will containt both the "Numbers" and the "Two_Numbers" lists.

Sort all the numbers in the "Numbers" list from the largest to the smallest.

## Tuples

Create a tuple, called "Cars", with elements "BMW", "Dodge", and "Ford".

Access the second element of this tuple.

Call a method that would allow you to extract the provided name and age separately. Then print the "name" and "age" values to see if you worked correctly.

In [ ]:
name, age = 'Peter,24'

Create a function that takes as arguments the two values of a rectangle and then returns the Area and the Perimeter of the rectangle.
Call the function with arguments 2 and 10 to verify it worked correctly.

## Dictionaries

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

This is the menu of a close-by restaurant:

In [ ]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}

What is the second meal in the list?

Add a new meal - "Soup".

Replace the Hamburger with a Cheeseburger.

Attach the Desserts list in the form of a sixth meal.

In [ ]:
Dessert = ['Pancakes', 'Ice-cream', 'Tiramisu']

Create a new dictionary that contains the first five meals as keys and assign the following five values as prices (in dollars):
10, 5, 8, 12, 5. 
Start by *Price_list = {}*.

Use the *.get()* method to check the price of the Spaghetti.