## For Loops

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Create a For loop that prints every digit on a new line.

In [1]:
digits = [0,1,2,3,4,5,6,7,8,9]

In [2]:
for d in digits:
    print (d)

0
1
2
3
4
5
6
7
8
9

Adjust the code, so the digits are all printed on the same line.

In [3]:
for d in digits:
    print (d, end=" ")

0 1 2 3 4 5 6 7 8 9

## While Loops and Incrementing

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Create a while loop that will print all odd numbers from 0 to 30 on the same row. 
<br />
*Hint: There are two ways in which you can create the odd values!*

In [2]:
x = 1
while x <= 30:
    print (x, end=" ")
    x = x + 2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

or:

In [3]:
x = 1
while x <= 30:
    print (x, end=" ")
    x += 2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

## Create Lists with the range() Function

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Use the range() function to create a list with all numbers from 1 to 10.

In [1]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Use the range() function to create a list with all numbers from 0 to 19.

In [2]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

Use the range function to create a list with all even numbers from 0 to 30 included.

In [3]:
list(range(0,31,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

## Use Conditional Statements and Loops Together

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Create a For loop that will print all the variables from a given list multiplied by 2. Let the list contain all numbers from 1 to 10. Create it with the help of the range() function.

In [1]:
for n in range(1,11):
    print (n * 2)

Create a little program that runs a loop over all values from 1 to 30. Let it print all Odd numbers, and in the place of the even numbers, it should print "Even".
Help yourself with the range() function to solve this exercise.

In [2]:
for x in range(1,31):
    if x % 2 == 1:
        print (x, end = " ")
    else:
        print ("Even", end = " ")

1 Even 3 Even 5 Even 7 Even 9 Even 11 Even 13 Even 15 Even 17 Even 19 Even 21 Even 23 Even 25 Even 27 Even 29 Even

You have the following list of numbers. Iterate over this list, printing out each list value multiplied by 10.
Find two solutions of this problem.

In [3]:
n = [1,2,3,4,5,6]

In [4]:
for item in n:
    print (item * 10, end = " ")

10 20 30 40 50 60

In [5]:
for item in range(len(n)):
    print (n[item] * 10, end = " ")

10 20 30 40 50 60

## All in - Conditional Statements, Functions, and Loops

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

You are provided with the 'nums' list. Complete the code in the cell that follows. Use a while loop to count the number of values lower than 20. <br/>
*Hint: This exercise is similar to what we did in the video lecture. You might prefer using the x[item] structure for indicating the value of an element from the list.*

In [1]:
nums = [1,35,12,24,31,51,70,100]

In [2]:
def count(numbers):
    numbers = sorted(numbers)
    tot = 0
    
    while numbers[tot] < 20:
        tot += 1
    return tot

In [3]:
count(nums)

2

## Iterating over Dictionaries

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

In this exercise you will use the same dictionaries as the ones we used in the lesson - "prices" and "quantity". This time, don't just calculate all the money Jan spent. Calculate how much she spent on products with a price of 5 dollars or more.

In [1]:
prices = {
    "box_of_spaghetti" : 4,
    "lasagna"  : 5,
    "hamburger" : 2
   }
quantity = {
    "box_of_spaghetti" : 6,
    "lasagna"  : 10,
    "hamburger" : 0
    }

money_spent = 0

In [2]:
for i in quantity:
    if prices[i]>=5:
        money_spent += prices[i]*quantity[i] 
    else:
        money_spent = money_spent

print (money_spent)

50

And how much did Jan spent on products that cost less than 5 dollars?

In [3]:
prices = {
    "box_of_spaghetti" : 4,
    "lasagna"  : 5,
    "hamburger" : 2
   }
quantity = {
    "box_of_spaghetti" : 6,
    "lasagna"  : 10,
    "hamburger" : 0
    }

money_spent = 0

In [4]:
for i in quantity:
    if prices[i]<5:
        money_spent += prices[i]*quantity[i] 
    else:
        money_spent = money_spent

print (money_spent)

24